.footer{
    background-color: #EEEEEE;
    margin-top:2em;
    ul{
        margin:auto;
        padding:1em 3em;
        display:flex;
        list-style: none;
        align-content: center;
        place-content: space-between;
        width: 300px;
        a{  
            text-decoration: none;
            text-decoration:none;
            color: black;
            font-size: 12px;
            font-weight: 600;
            img{
                width: .8em;
                height: .8em;
            }
        }
    }

}

@media only screen and (min-width:768px) {
    .footer{
        ul{
            width: 300px;
            margin-right: 0 !important;
            margin-left:auto !important;
        }
    }
}
